
{% extends 'back.base.html.twig' %}


{% block body %}
    <h1>Typereclamation </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id de typereclamation</th>
                <th>Type de reclamation</th>
                <th>Etat reclamation</th>
                <th>Comrmantaire </th>
                <th>Id admin</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for typereclamation in typereclamations %}
            <tr>
                <td>{{ typereclamation.id }}</td>
                <td>{{ typereclamation.tyrc }}</td>
                <td>{{ typereclamation.etrc }}</td>
                <td>{{ typereclamation.comrc }}</td>
                <td>{{ typereclamation.ida }}</td>
                <td>
                    <a href="{{ path('typereclamation_show', {'id': typereclamation.id}) }}">show</a>
                    <a href="{{ path('typereclamation_edit', {'id': typereclamation.id}) }}">edit</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('typereclamation_new') }}">Create new</a>
{% endblock %}
