{% extends 'back.base.html.twig' %}
{% block body %}
    <div style="width:800px; margin:0 auto;">

        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
        {{ form_label(form.nom_event,"Nom de l'évènement")  }}
        {{ form_widget(form.nom_event) }}
        {{ form_errors(form.nom_event) }}

        <br>

        {{ form_label(form.description_event,"Description de l'évènement")  }}
        {{ form_widget(form.description_event) }}
        {{ form_errors(form.description_event) }}

        <br>

        {{ form_label(form.lieu_event,"Adresse de l'évènement")  }}
        {{ form_widget(form.lieu_event) }}
        {{ form_errors(form.lieu_event) }}

        <br>

        {{ form_label(form.prix_event,"Prix de l'évènement")  }}
        {{ form_widget(form.prix_event) }}
        {{ form_errors(form.prix_event) }}

        <br>
        <div class="row">
            <div class="col-lg-6">
                <div class="checkout__input">

                    {{ form_label(form.nbr_place,"Nombre de place")  }}
                    {{ form_widget(form.nbr_place) }}
                    {{ form_errors(form.nbr_place) }}
                </div>

            </div>
        </div>
        <br>

        {{ form_label(form.image,"Insérer votre image")  }}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}

        {{ form_end(form) }}
        <br>
        <br>
        <a href="{{path("read")}}"><button class="btn btn-secondary btn-lg">Back to list</button></a>

    </div>
{% endblock %}