{% extends 'back.base.html.twig' %}
{% block body %}
    <div style="width:800px; margin:0 auto;">


<table border="1"width="50%" >

    <tr>
        <th>nom</th>
        <th>description</th>
        <th>lieu</th>
        <th>date</th>
        <th>prix</th>
        <th>nbr place</th>
        <th>image</th>
        <th> suppression</th>
        <th> modification</th>
    </tr>

    {% for i in evenement %}
        <tr>
            <td>{{ i.nom_event }}</td>
            <td>{{ i.description_event }}</td>
            <td>{{ i.lieu_event }}</td>
            <td>{{ i.date | date('d/m/y') }}</td>
            <td>{{ i.prix_event }}</td>
            <td>{{ i.nbr_place }}</td>
            <td><img style="margin-bottom: -18px" src="{{ asset('uploads/' ~ i.image) }}" width="200" height="100"></td>
            <td><a href="{{path("delete",{'id':i.id})}}"><button class ="btn btn-danger">supprimer </button></a>
            </td>
             <td><a href="{{path("update",{'id':i.id})}}"><button class="btn btn-warning">modifier</button></a>
            </td>

        </tr>


    {% endfor %}
    <td><a href="{{path("create")}}"><button class="btn btn-primary">Ajouter</button></a></td>
</table>

    </div>

{% endblock %}