{% extends 'back.base.html.twig' %}
{% block body %}
    <div style="width:800px; margin:0 auto;">

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <center><input class="form-control" type="text" id="search" aria-describedby="basic-addon2" placeholder="CHERCHER Evenement..."></center>
        <br>
        <br>
        <table class="table table-bordered dataTable" id="tableac" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">

    <tr role="row">
        <th>nom</th>
        <th>description</th>
        <th>lieu</th>
        <th>date</th>
        <th>prix</th>
        <th>nbr place</th>
        <th>image</th>
        <th> suppression</th>
        <th> modification</th>
        <th> Reservations</th>

    </tr>
    <tbody>

    {% for i in evenement %}
        <tr>
            <td>{{ i.nom_event }}</td>
            <td>{{ i.description_event }}</td>
            <td>{{ i.adresse }}</td>
            <td>{{ i.date | date('d/m/y') }}</td>
            <td>{{ i.prix_event }}</td>
            <td>{{ i.nbr_place }}</td>
            <td><img  src="{{ asset('uploads/' ~ i.image) }} " width="150" height="75"></td>
            <td><a href="{{path("delete",{'id':i.id})}}"><button class ="btn btn-danger">supprimer </button></a>
            </td>
             <td><a href="{{path("update",{'id':i.id})}}"><button class="btn btn-warning">modifier</button></a>
            </td>
            <td><label class="btn btn-warning"><a href="{{ url('afficherReservation',{'id':i.id}) }}">Reservations</a></label></td>

        </tr>
        <script>
            $(document).ready(function(){
                $('#search').keyup(function(){
                    search_table($(this).val());
                });
                function search_table(value){
                    $('#tableac tbody tr').each(function(){
                        var found = 'false';
                        $(this).each(function(){
                            if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                            {
                                found = 'true';
                            }
                        });
                        if(found == 'true')
                        {
                            $(this).show();

                        }
                        else
                        {
                            $(this).hide();

                        }
                    });
                }
            });
        </script>
    {% endfor %}

    </tbody>

</table>
        <div class="navigation">
            {{ knp_pagination_render(evenement) }}
        </div>

        <br>
      <a href="{{path("create")}}"><button class="btn btn-primary btn-lg btn-block">Ajouter</button></a>

    </div>


{% endblock %}