{% extends 'front.base.html.twig' %}
{% block body %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 style="color:#9cfda4" ;>EVENEMENT</h2>
                        <div class="breadcrumb__option">
                            <h2 style="color:#9cfda4" ;> &  </h2>
                            <h2 style="color:#9cfda4" ;>  RESERVATION </h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% for i in evenements %}
<div style="width:800px; margin:0 auto;">
    <div class="blog-entry align-self-stretch">
        <a href="blog-single.html" class="block-20 rounded img-2" style="background-image:{{ asset('uploads/'~i.image) }};">
        </a>
        <div class="text mt-3">
            <div class="meta mb-2">

                <div class="blog__details__text">
                    <img align="center" src="{{ asset('uploads/'~ i.image) }}"  alt="">
                    <h3 align="center"><p1>Nom    : </p1>{{ i.nom_event }}</h3>
                    <h3 align="center"><p1>Description   : </p1>{{ i.description_event }}</h3>
                    <h3 align="center"><p1>Lieu  : </p1>{{ i.lieu_event }}</h3>
                    <h3 align="center"><p1>Date  : </p1>{{ i.date | date('d/m/y')  }}</h3>
                    <h3 align="center"><p1>Prix  : </p1>{{ i.prix_event }}</h3>
                    <h3 style=" text-align: center"> <a href="{{ path ('createreservation') }}"><button class="btn btn-success">Réserver</button ></a></h3>




                </div>
            </div>
        </div>
    </div>
</div>
                {% endfor %}
{% endblock %}
