{% extends 'front.base.html.twig' %}
{% block body %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 style="color:#9cfda4" ;>ÉVÉNEMENT</h2>
                        <div class="breadcrumb__option">
                            <h2 style="color:#9cfda4" ;> &  </h2>
                            <h2 style="color:#9cfda4" ;>  RÉSERVATION </h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Breadcrumb Section End -->
    <div class="col-lg-8 col-md-7">
        <div style="width:800px; margin:0 auto;">
     <div>
        <table border="1"width="50%">

            <thead>
            <tr>
                <th>nom</th>
                <th>description</th>
                <th>lieu</th>
                <th>date</th>
                <th>prix</th>
                <th>nbr place</th>
                <th>image</th>


            </tr>
            </thead>

            {% for i in evenements  %}

                <tr>
                    <td>{{ i.nom_event }}</td>
                    <td>{{ i.description_event }}</td>
                    <td>{{ i.lieu_event }}</td>
                    <td>{{ i.date | date('d/m/y') }}</td>
                    <td>{{ i.prix_event }}</td>
                    <td>{{ i.nbr_place }}</td>
                    <td><img style="margin-bottom: -18px" src="{{ asset('uploads/' ~ i.image) }}" width="100" height="200"></td>
                    <td><a href="{{ path ('reservation') }}">Réserver</a></td>

                </tr>


            {% endfor %}

        </table>
     </div>
        </div>
    </div>
{% endblock %}

