<!DOCTYPE html>
<html lang="zxx">

<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Shahba</title>


<link href="{{ asset ('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap') }}" rel="stylesheet">


<link rel="stylesheet" href="{{ asset ('css/bootstrap.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset ('css/font-awesome.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('css/elegant-icons.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('css/nice-select.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset ('css/owl.carousel.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset ('css/slicknav.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset ('css/style.css') }}" type="text/css">
</head>
    <body>
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo_shahba.png" alt=""></a>
        </div>

        <div class="humberger__menu__widget">

            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Se connecter</a>
            </div>
        </div>
        <!-- Partie Mobile -->
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="frontend/index.html.twig">Acceuil</a></li>
                <li><a href="frontend/Produit.html.twig">Produits</a></li>
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="frontend/AstuceProduit.html.twig">Les détails de produits</a></li>
                        <li><a href="frontend/Panier.html.twig">Panier</a></li>
                        <li><a href="frontend/ProduitsDetails.html.twig">Astuces des produits</a></li>
                    </ul>
                </li>
                <li><a href="frontend/Evenement.html.twig">Evenements</a></li>
                <li><a href="frontend/new.html.twig">Astuces </a></li>
                <li><a href="frontend/new.html.twig"> Video DIY</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <!-- Fin Partie Mobile -->
    </div>

    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>

                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i> Se Connecter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                             <a href="{{ path ('frontindex') }}"><img src="img/logo_shahba.001.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{{ path('frontindex') }}">Acceuil</a></li>
                            <li><a href="{{ path('produit') }}">Produits</a></li>
                            <li><a href="{{ path('evenement') }}">Evenements</a></li>
                            <li><a href="{{ path('astuceproduit') }}">Astuce </a></li>
                            <li><a href="{{ path('blog') }}">Video DIY</a></li>
                            <li><a href="{{ path('reclamation') }}">Réclamation</a></li>
                            <li><a href="{{ path ('contact') }}">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> </a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>


    {% block body %}{% endblock %}


    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="{{ path ('frontindex') }}"><img src="img/logo_shahba.001"  alt=""></a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>About us</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Rejoignez-Nous à la newsletter</h6>
                        <p>Entrez ton adresse e-mail pour recevoir tous nos nouveaux produits</p>
                        <form action="#">
                            <input type="text" placeholder="Entrez votre adresse e-mail">
                            <button type="submit" class="site-btn">S'inscrire</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ asset ('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset ('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset ('js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ asset ('js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset ('js/jquery.slicknav.js') }}"></script>
    <script src="{{ asset ('js/mixitup.min.js') }}"></script>
    <script src="{{ asset ('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset ('js/main.js') }}"></script>


    </body>
</html>

